@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="names">Names</a><br>
    <a href="numbers">Numbers</a><br>
    <a href="users">Users</a>
    <a href="user">User</a>
</div>